#todo
    padding: 90px 0
    .box
        background-color: #9c6644
        padding: 25px 35px
        border-radius: 20px
        h1
            color: #ffff
            font-size: 40px
            font-weight: 700
        input
            border-radius: 20px
            margin: 22px 0
            padding: 15px 5px
            padding-left: 10px
            font-size: 18px
        .btn
            background-color: #ffff
            border-radius: 20px
            padding: 5px 20px
            &:hover
                background-color: #d5d8dd
    .minibox
        margin-top: 35px
        width: 270px
        h2
            border-radius: 35px
            padding: 10px 20px
            margin: 12px 45px 0
            text-align: center
            border: 2.1px solid #787878
            max-width: 200px
            font-size: 22px
            // max-height: 400px
