#todo
    padding: 90px 0
    .box
        background-color: #9c6644
        padding: 20px 25px
        border-radius: 20px
        h1
            color: #ffff
            font-size: 40px
            font-weight: 700
        input
            border-radius: 20px
            margin: 20px 0
            padding: 15px 5px
            padding-left: 10px
        .btn
            background-color: #ffff
            border-radius: 20px
            padding: 5px 20px
            &:hover
                background-color: #d5d8dd
    .minibox
        margin-top: 30px
        width: 270px
        h2
            border-radius: 20px
            padding: 12px 20px
            margin: 10px 45px
            text-align: center
            border: 1px solid #030303
            max-width: 200px
            font-size: 20px
            // max-height: 400px
